
:root, [data-bs-theme=light] {
    --tblr-primary: #4299e1 !important;
}

.form-control-rounded, .form-control {
    border-radius: var(--tblr-border-radius) !important;
}

.modal-backdrop {
    opacity: 0.5 !important;
}

.form-fieldset {
    background: #11182700 !important; /* CÓDIGO DE COR INVISÍVIL, COM FINAL 00 */
    border: 0 !important;
}

.alert {
    z-index: 1000 !important;
}

.table-responsive {
    max-height: 60vh !important;
}

* {
    scrollbar-color: color-mix(in srgb,var(--tblr-scrollbar-color,var(--tblr-body-color)) 20%,transparent) transparent !important;
}

table .dropdown {
    position: static !important;
}

.modal-content {
    background-color: var(--tblr-bg-forms);
}

.modal-footer {
    background-color: var(--tblr-bg-forms);
}

.calendar .calendar-header table th:hover {
    background: var(--tblr-border-color-translucent) !important;
}

.calendar .calendar-header .year-neighbor2 {
    opacity: 1 !important;
}

.calendar .calendar-header {
    border-color: var(--tblr-border-color) !important;
}

.calendar-context-menu, .calendar-context-menu .submenu {
    border-color: var(--tblr-border-color) !important;
    background-color: var(--tblr-text-inverted) !important;
}

.content:hover {
    background-color: var(--tblr-tertiary-bg) !important;
}